#mapid { 
	height: 550px;
	width:  770px;
		/*500x700 700x980 600x840 550x770*/
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}